#private-key{
    width: 80%;
    height: 250px;
}
#panel-verify{
    width: 80em;
    height: 20em;
}

#panel-verify, #open-key, #submit{
    margin: 10px auto;
}

#panel-verify{
    text-align: center;
}

#open-key, #submit{
    display: block;
}

#status{
    text-align: center;
}