#private-key{
    width: 90%;
    height: 300px;
}
#panel-verify{
    width: 80em;
    height: 25em;
}

#panel-verify, #open-key, #submit{
    margin: 10px auto;
}

#panel-verify{
    text-align: center;
}

#open-key, #submit{
    display: block;
}